{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>    
  <div{{ content_attributes.addClass('node__content') }}>      
  <!-- Begin Header Curso -->	        	
    <div class="curso-header page-section">
      <div class="container">
          <div class="row no-gutters">                                                  
              <div class="col-xs-12 col-md-7">
                  <div class="curso-img-box">
                    {{ content.field_imagen }}
                  </div>				
              </div>
              <div class="col-xs-12 col-md-4">					
                  <div class="curso-nombre">
                    <h4>{{ label }}</h4>                    
                  </div>				
                  <div class="curso-sumario">
                    <span>{{ node.body.summary }}</span>
                  </div>                  
                  <div class="curso-clase">                     
                    <div>{{ content.field_clases.0 }}</div>
                          
                    <a href="#" class="btn btn-danger btn-fill">Inscripción y pago</a>                    
                  </div>					
              </div>
              <div class="col-xs-12 col-md-1">					
                  <div class="curso-buttons">
                    <div class="curso-button"><a style="font-size: 20px;" href="#" class="btn btn-danger btn-fill"><i class="glyphicon-file"></i></a></div>
                    <div class="curso-button"><a style="font-size: 20px;" href="#" class="btn btn-danger btn-fill"><i class="glyphicon-info-sign"></i></a></div>
                  </div>						
              </div>
          </div>
      </div>	 
    </div>
  <!-- End Header Curso -->	        	
    
  <!-- Begin Detalle Curso -->	  
    <div class="curso-detalle page">
		<div class="container">										
            <br>
            <p style="font-size: 75%">Tópicos:</p>
            <div>
                <ul>
                    <li style="display: inline; border: 2px solid white; background-color: gray; color: white; font-size: 75%; padding: 3px;">Fotografía</li>
                    <li style="display: inline; border: 2px solid white; background-color: gray; color: white; font-size: 75%; padding: 3px;">Profesional</li>
                    <li style="display: inline; border: 2px solid white; background-color: gray; color: white; font-size: 75%; padding: 3px;">Comercial</li>
                </ul>				
            </div>				

            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active" id="tab1" class="current">Detalles</li>
                    <li id="tab2">Requisitos</li>
                    <li id="tab3">Contenidos</li> 
                </ul>

                <div class="tab-content-wrp">
                    <div id="tab1-content" class="tab-content active" style="height: 440px">
                        <p>Créditos: 6</p>
                        <p>Dirigido a: Estudiantes de AAVI, autodidactas y estudiantes de fotografía de otras escuelas que cumplan los requerimientos de nivel.</p>
                        <p>Servicios: Horario libre de instalaciones</p>
                        <br>
                        <br>
                        <br>
                        <div style="height: 180px; position: relative; color: #ffffff; padding: 25px 15px; display: block; float: left"><img style="width: 120px; height: 130px; border-radius: 50%; border-color: gray; background-color: #1a1817" src="http://aavi.net/Content/images/teachers/ximena.jpg"/></div>
                        <div style="height: 180px; width: 100%; max-height: 180px; position: relative; padding: 25px 0 15px 0; margin-left: 10px; display: block">
                            <h5>Ximena Zermeño</h5>
                            <p style="font-size: 12px">Estudió Derecho en el Instituto Superior de Ciencias Jurídicas y decidió inclinarse por el derecho penal, el cual litigo durante 8 años. A la par de dedicarse al mundo de la abogacía, Ximena no abandonó nunca  su instinto sensible, ni su necesidad de expresarlo en el arte, Estudió fotografía en la Academia de Artes visuales (Aavi)... <a href="#">Leer más</a></p>
                        </div>														
                    </div>

                    <div id="tab2-content" class="tab-content"  style="height: 440px">
                        <p>Haber concluido el curso avanzado de fotografía en AAVI o equivalente / Llenar formato de inscripción / Cámara DSLR / Pago de colegiatura.</p>							
                    </div>

                    <div id="tab2-content" class="tab-content"  style="height: 440px">
                        <p>Este taller propone a los estudiantes distintas formas de abordar los eventos para desarrollar una visión de autor al tiempo que se complace a los clientes.</p>
                    </div>
                </div>
            </div>				
		</div>
	</div>   
  <!-- End Detalle Curso -->	  
    
  </div>
</article>