{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<header class="main-header">
  <nav class="navbar topnav navbar-default" role="navigation">
    <div class="container">
      <div class="row">

        <!-- Start: Header -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if page.header %}
            {{ page.header }}
          {% endif %}
        </div>
        <!-- End: Header -->

        <!-- Start: Main menu -->
        <div class="col-md-9">
          {% if page.primary_menu %}
            {{ page.primary_menu }}
          {% endif %}
        </div>

        </div>
      </div>
    </nav>
</header>

<!-- Start: Slider -->
{% if is_front and show_slideshow %}
  <div class="flexslider wow bounceInUp">
    <ul class="slides">
      {% for slider_contents in slider_content %}
        {{ slider_contents | raw }}
      {% endfor %}
    </ul>
  </div>
{% endif %}
<!-- End: Slider -->

<!-- Start: Sección Cursos destacados -->
{% if is_front and page.cursos_destacados %}
  <div id="cursos">
    <div class="container-fluid">
      <div class="row no-gutters">
        {{ page.cursos_destacados }}
      </div>
    </div>
  </div>
{% endif %}

<!-- Start: xxx -->
<div>      
  {% if page.highlighted %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ page.highlighted }}
        </div>
      </div>
    </div>
  {% endif %}

  {%  if page.page_title and not is_front %}
    <div id="page-title">
      <div id="page-title-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ page.page_title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    
      {% if not is_front %}
        <div class="row">
          <div class="col-md-12">{{ page.breadcrumb }}</div>
        </div>
      {% endif %}

      <div class="row">

        {% if page.sidebar_first %}
          <div class="sidebar">
            <div class={{sidebarfirst}}> {{ page.sidebar_first }} </div>
          </div>
        {% endif %}

        {% if page.content %}
          <div class="content_layout">
            <div class={{contentlayout}}> {{ page.content }} </div>
          </div>
        {% endif %}

        {% if page.sidebar_second %}
          <div class="sidebar">
            <div class={{sidebarsecond}}> {{ page.sidebar_second }} </div>
          </div>
        {% endif %}

      </div>
    
  </div>  
</div>
<!-- End: xxx -->

<!-- Start: Sección Programas -->
{% if is_front and page.programas %}
  <div id="programas" class="page-section">        
      <div class="container-fluid">       
          <div class="row no-gutters">
            {{ page.programas }}               			
          </div>            
      </div>					            
  </div>  
{% endif %}
<!-- End: Sección Programas -->

<!-- Start: Sección Argumento de venta -->
{% if is_front and page.arg_venta %}
  <div id="culture" class="page-section">	
      <div class="container-fluid">	
          {{ page.arg_venta }}
      </div>
  </div>
{% endif %}
<!-- End: Sección Argumento de venta -->

{% if page.contacto and page.mapa_ubicacion %}
<!-- TODO: Fix Styles -->
<!-- Start Contact -->
  <div id="contact">
      <div class="container-fluid">
          <div class="row no-gutters">				
              <div class="col-xs-1 col-md-6">
                  <iframe style="display: block; width: 100%; height: 100%; overflow: hidden" width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.550226349715!2d-99.16939288509332!3d19.431829986884733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8caad1a78bb%3A0x9fb9a9b445eacfe3!2sCalle+R%C3%ADo+Sena+43%2C+Cuauht%C3%A9moc%2C+06500+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1sde!2smx!4v1493082740133" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>	
              </div>

              <div class="col-xs-12 col-md-6">
                  <div style="padding: 40px;">                      
                      <h3>Contáctanos</h3><br>
                      <form>												
                          <input type="text" name="nombre" placeholder="Nombre">
                          <input type="text" name="correo" placeholder="Correo electrónico">
                          <input type="text" name="telefono" placeholder="Teléfono de contacto">
                          <input type="text" name="subject" placeholder="Mensaje">

                          <textarea name="mensaje" placeholder="Mensaje"></textarea>
                          <button type="submit" class="btn btn-danger btn-fill"><i class="icon-envelope-alt"></i> Enviar mensaje</button>						
                      </form>
                  </div>					
              </div>
          </div>
      </div>
  </div>
{% endif %}
<!-- End Contact -->

<!-- Start: Sección Pie de página -->
<!-- TODO: Fix Styles -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" style="height: 250px"> 
                <div style="height: 200px; border-right: #404040 1px solid; padding-right: 10px">
                    <a href="#">
                    <img class="logo" src="images/logos/logo.png" alt="aavi logo"/> 
                    <div class="logo-text"> 
                        <p>academia de artes visuales</p>
                    </div>					
                    </a>
                    <br>
                    <p style="text-align: center; font-size: 12px; color: #d9d9d9">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" style="height: 250px">
                <div style="height: 200px; font-size: 12px; color: #d9d9d9; border-right: #404040 1px solid">
                    <h6>Academia de Artes Visuales</h6>
                    <br>
                    <ul style="list-style-type: circle; padding-left: 15px;">
                        <li>Diplomado en fotografía</li>
                        <li>Talleres de video</li>
                        <li>Cursos de fotografía</li>
                        <li>Conócenos</li>
                        <li>Eventos</li>
                        <li>Inscripciones</li>
                        <li>Blog</li>
                        <br>
                        <li>Contacto</li>
                        <li>Aviso de privacidad</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" style="height: 250px">
                <div style="height: 200px; font-size: 12px; color: #d9d9d9; border-right: #404040 1px solid">
                    <h6>Síguenos en las redes sociales</h6>
                    <ul class="contact-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>						
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3" style="height: 250px">
                    <div style="font-size: 12px; color: #d9d9d9">
                        <h5>AAVI Río Sena</h5>
                        <p style="font-size: 12px; color: #d9d9d9">Río Sena 43 Col. Cuauhtémoc 06500, Ciudad de México, México <br> Tel: 5525 3909 email: <a href="mailto: buzon@aavi.net">buzon@aavi.net</a></p>
                    </div>
                    <br>
                    <div style="font-size: 12px; color: #d9d9d9">
                        <h5>AAVI Bosques</h5>
                        <p style="font-size: 12px; color: #d9d9d9">Bosque de Duraznos 61 Piso 8-B2 Col. Bosque de las Lomas 11700, Ciudad de México, México <br>Tel: 5245 7042 email: <a href="mailto: bosques@aavi.net">bosques@aavi.net</a></p>
                    </div>
            </div>
        </div>
    </div>
</div>
    
<div id="footer-legal">
    <div class = "container">            			
        <p style="text-align: left; padding: 5px; font-size: 10px;">© Academia de Artes Visuales - AAVI</p>			
    </div>
</div>		
<!-- End: Sección Pie de página -->